<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.namelessdev.mpdroid" android:versionCode="33" android:versionName="1.06 beta 2">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Required for JmDNS to see services available on the network -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<!-- Cover art cache -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
	
	<application android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:name=".MPDApplication"
		android:hardwareAccelerated="true" android:largeHeap="true">
		<meta-data android:name="android.app.default_searchable"
				android:value=".SearchActivity" />
		<!-- android:debuggable="true" -->
		<activity android:name=".MainMenuActivity" android:theme="@style/AppTheme.NowPlaying" android:label="@string/app_name"
			android:launchMode="singleTop" android:uiOptions="splitActionBarWhenNarrow"
			android:windowSoftInputMode="adjustNothing" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.namelessdev.mpdroid.PLAYBACK_VIEWER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
				android:value=".SearchActivity" />
		</activity>

		<activity android:name=".SearchActivity" android:label="@string/search">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity android:name=".library.PlaylistEditActivity" android:label="@string/playlist" >
		</activity>
		<activity android:name=".library.SimpleLibraryActivity" android:windowSoftInputMode="adjustNothing" />
		<activity android:name=".SettingsActivity" android:label="@string/settings" />
		<activity android:name=".WifiConnectionSettings"
			android:label="@string/settings" android:theme="@style/AppTheme.ActionBar" />
		<activity android:name=".ConnectionSettings" android:label="@string/settings" />
		<activity android:name=".library.LibraryTabsSettings" android:label="@string/libraryTabsSettings" />
		
		<activity android:name=".ServerListActivity" android:theme="@style/AppTheme.ActionBar" />
		<activity android:name=".ServerBonjourListActivity" android:theme="@style/AppTheme.ActionBar" />
		
		<activity android:name=".AboutActivity" android:label="@string/about" />
		<activity android:name=".WebViewActivity" />
		<activity android:name=".WarningActivity" android:label="@string/warningTitle"  android:theme="@style/AppTheme.Dialog" />
		<activity android:name=".library.LibraryTabActivity" android:label="@string/libraryTabActivity"
		    android:windowSoftInputMode="adjustNothing" >
			<meta-data android:name="android.app.default_searchable"
				android:value=".SearchActivity" />
		</activity>

		<service android:enabled="true" android:name="StreamingService" />
		<receiver android:name="com.namelessdev.mpdroid.RemoteControlReceiver">
			<intent-filter android:priority="500">
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.media.AUDIO_BECOMING_NOISY" />
			</intent-filter>
		</receiver>
		
		<receiver android:name="com.namelessdev.mpdroid.PhoneStateReceiver">
    		<intent-filter>
      			<action android:name="android.intent.action.PHONE_STATE" />
    			</intent-filter>
		</receiver>

		<receiver android:name=".widgets.SimpleWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_simple"></meta-data>
		</receiver>
		<service android:name=".widgets.WidgetHelperService" android:enabled="true"></service>
	</application>

</manifest> 
