/MPDroid/bin
/MPDroid/gen
/MPDroid/.classpath
/MPDroid/local.properties
/MPDroid/proguard
/DragSortListView/bin
/DragSortListView/gen
/DragSortListView/.classpath
/DragSortListView/local.properties
/JMPDComm/JMPDComm.jar
/JMPDComm/bin
/JMPDComm/gen
/JMPDComm/proguard
/JMPDComm/classes
/JMPDComm/.classpath
/JMPDComm/local.properties
/lastfm-java/bin
/JmDNS/bin
.DS_Store
