language: java

before_install:
  - wget http://dl.google.com/android/android-sdk_r22.3-linux.tgz -O - | tar zx
  - export ANDROID_HOME="${PWD}/android-sdk-linux"
  - export PATH="${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools"
  - sudo apt-get update -qq
  - if [ `uname -m` = x86_64 ]; then sudo apt-get install -qq --force-yes libgd2-xpm ia32-libs ia32-libs-multiarch > /dev/null; fi
  - echo yes |android update sdk --filter platform-tools,android-19,extra-android-support,sysimg-19 --no-ui --force > /dev/null
    # install android build tools
  - wget https://dl-ssl.google.com/android/repository/build-tools_r19-linux.zip
  - unzip build-tools_r19-linux.zip -d $ANDROID_HOME
  - mkdir -p $ANDROID_HOME/build-tools/
  - mv $ANDROID_HOME/android-4.4 $ANDROID_HOME/build-tools/19

script:
  - cd ./MPDroid
  - echo "sdk.dir=${ANDROID_HOME}" > local.properties
  - cp local.properties ../DragSortListView/
  - cp local.properties ../SmoothProgressBar/
  - cp local.properties ../PullToRefresh/
  - ant clean
  - ant debug
